body{
    background-image: url(https://cdn.pixabay.com/photo/2017/04/25/21/08/american-flag-2260839_960_720.jpg);
    font-family: 'Cinzel', serif;
}

#titleBar{
    background-color: orange;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 42px;
}

.jumbotron{
    background-color: orange;
    padding: 2rem 1rem;
}
p{
    font-size: 86px;
    margin-top: 0;
    margin-bottom: -1rem;
}

p2{
    font-size: 20px;
}

#results{
    background-color:navy;
    margin-top: -15px;
    margin-bottom: 26px;
    padding-bottom: 11px;
    padding-top: 11px;
}

.well{
    background-color: orange;
    color:navy;
    font-size: 25px;
    font-weight: bold;
    opacity: 1;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 10px;
    margin-left: -9px;
    margin-right: -10px;
}